<style>
  @import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
  #h4 {
    color: #100c08;
    font-family: "Syne Mono", monospace;
    font-size: 2em;
  }
  #name {
    font-family: "Syne Mono", monospace;
    font-size: 1em;
    color: #fffafa;
  }
</style>
<div class="container">
  <div class="section">
    <h4 class="center-align" id="h4">Featured Hikes</h4>
    <div class="row" id="container">
      <% for (var i = 0; i < trails.length; i++) { %>
      <div class="col s12 m4">
        <div class="card small  black">
          <div class="card-image">
            <img src="<%= trails[i].image[0] %>" />
            <span class="card-title ">
              <ul>
                <li>
                  <a class="tooltipped" id="name" data-position="top" data-delay="50" data-tooltip="Click The Name!" href="/viewhike/<%= trails[i].id %>">
                    <%= trails[i].name %>
                  </a>
                </li>
              </ul>
            </span>
          </div>
          <div class="card-content green-text text-accent-4">
            <p>
              <%= trails[i].difficulty %>
            </p>
            <p>
              <%= trails[i].length %> Miles
            </p>
            <p>
              <%= trails[i].stars %>
            </p>
            </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
