<style>
  @import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
  #h4 {
    color: #fffafa;
    font-family: "Syne Mono", monospace;
    font-size: 2em;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    -webkit-text-stroke: #100c08 0.5px;
    text-align: center;
    background-color: color-mix(in sRGB, 70%, #3e363f);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #name {
    font-family: "Syne Mono", monospace;
    font-size: 1em;
    -webkit-text-stroke:#100c08 0.5px;
    color: #fffafa;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    background-color: color-mix(in sRGB, 70%, #3e363f);
  }
  .stars {
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fffafa;
    font-family: "Syne Mono", monospace;
    font-size: 2em;
    color: #100c08;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
  }
  .difficulty {
    font-family: "Syne Mono", monospace;
    font-size: 1.2em;
    -webkit-text-stroke: #100c08 0.5px;
    color: #fffafa;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
  }
  .length {
    font-family: "Syne Mono", monospace;
    font-size: 1em;
    -webkit-text-stroke: #100c08 0.5px;
    color: #fffafa;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
  }
</style>
<div class="container">
  <div class="section">
    <h4 class="center-align" id="h4">Featured Hikes</h4>
    <div class="row" id="container">
      <% for (var i = 0; i < trails.length; i++) { %>
      <div class="col s12 m4">
        <div class="card small black">
          <div class="card-image">
            <img src="<%= trails[i].image[0] %>" />
            <span class="card-title">
              <ul>
                <li>
                  <a
                    class="tooltipped"
                    id="name"
                    data-position="top"
                    data-delay="50"
                    data-tooltip="Click The Name!"
                    href="/viewhike/<%= trails[i].id %>"
                  >
                    <%= trails[i].name %>
                  </a>
                </li>
              </ul>
            </span>
          </div>
          <div class="card-content green-text text-accent-4">
            <p class="difficulty"><%= trails[i].difficulty %></p>
            <p class="length"><%= trails[i].length %> Miles</p>
            <p class="stars"><%= trails[i].stars %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
