<!DOCTYPE html>
<html lang="en">
    <!-- Head links -->
    <%- include('head.ejs')-%>
<body class="green">
    <%- include('nav.ejs')-%>
    <%- include('banner.ejs')-%>
    <%- include('image2.ejs')-%>
    <%- include('card.ejs')-%>
    <%- include('image3.ejs')-%>
    <%- include('map&links.ejs')-%>
    <%- include('footer.ejs')-%>
   <!--  Scripts -->
   <%- include('scripts.ejs')-%>
  </body>
</html>