<style>
  .text {
    font-family: "Syne Mono", monospace;
    font-size: 1.1em;
    -webkit-text-stroke:#100c08 0.5px;
    color: #fffafa;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    background-color: color-mix(in sRGB, 40%, #3e363f);
    cursor: pointer;
  }
  .h5 {
    font-family: "Syne Mono", monospace;
    font-size: 2em;
    -webkit-text-stroke:#100c08 0.5px;
    color: #fffafa;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    background-color: color-mix(in sRGB, 70%, #3e363f);
    border-radius: 5px;
    margin-bottom: 15px;
    border-bottom: #3e363f solid 1px;
  }
</style>
<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="h5">Featured Hike Map</h5>
        <iframe
          src="https://timely-scone-7b792f.netlify.app/"
          width="100%"
          height="400"
          frameborder="0"
          style="border:0"
          allow="fullscreen"
          zoom="1"
        ></iframe>
      </div>
      <div class="col l6 s12">
        <h5 class="h5">Oregon Hiking Video Playlist</h5>
        <iframe
          width="100%"
          height="400"
          src="https://www.youtube.com/embed/videoseries?list=PLUV_nsh8ldNfjhLJu3Qpk5EKlEH05pw8w&autoplay=0&loop=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="row">
        <% for (var j = 0; j < names.length; j++) { %>
        <div class="col s12 m4">
          <h5 class="h5"><%= names[j] %></h5>
          <% if (j === 0) { %> <% for (var i = 0; i < 7 && i < links.length;
          i++) { %>
          <ul>
            <li>
              <a class="text" target="_blank" href="<%= links[i].src %>">
                <%= links[i].title %>
              </a>
            </li>
          </ul>
          <% } %> <% } else if (j === 1) { %> <% for (var i = 7; i < 20 && i <
          links.length; i++) { %>
          <ul>
            <li>
              <a class="text" target="_blank" href="<%= links[i].src %>">
                <%= links[i].title %>
              </a>
            </li>
          </ul>
          <% } %> <% } else if (j === 2) { %> <% for (var i = 20; i < 33 && i <
          links.length; i++) { %>
          <ul>
            <li>
              <a class="text" target="_blank" href="<%= links[i].src %>">
                <%= links[i].title %>
              </a>
            </li>
          </ul>
          <% } %> <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</footer>
