<%- include('head.ejs')-%>
<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
<style>
  body {
    background: 
      linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, black 25%, transparent 25%),
      linear-gradient(45deg, black 25%, transparent 25%);	
   background-size: 2em 2em;
   background-color: #232323;
  }
  .carousel .carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }
  .carousel.carousel-slider .carousel-item {
    height: 400px;
  }
  .card-content h6 {
    color: white;
    font-family: 'Syne Mono', monospace;
  }
  .card-content ul.collection {
    background-color: black;
    border: none;
  }
  .card-content ul.collection .collection-item {
    color: #08ff08;
    font-size: medium;
    background-color: black;
    border: none;
  }
  .modal.green .modal-content h4,
  .modal.green .modal-footer .btn-flat {
    color: white;
  }
  #waypointname {
    color: white;
    font-size: large;
  }
  .card {
    border-radius: 25px;
    overflow: hidden; 
    border-color:  #08ff08;
    box-shadow: 0 0 5px 5px #08ff08;
  }
  .card-title {
    font-family: 'Syne Mono', monospace;
  }
  #button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
</style>
<%- include('nav.ejs')-%>
<body style="background-color: #28282B;">
  <div class="container">
    <div class="section">
      <div class="row" id="contain">
        <div class="row s12 m4">
          <div class="card x-large green" id="card">
            <div class="card-image green">
              <div class="carousel carousel-slider">
                <% trail.image.forEach((img, index) => { %>
                  <a class="carousel-item">
                    <img src="<%= img %>" alt="Image <%= index + 1 %>" />
                  </a>
                <% }); %>
              </div>
              <span class="card-title"><%=trail.name%></span>
            </div>
            <div class="card-content black">
              <h6 class="white-text text-darken-4"><p><%= trail.description %></p></h6>
              <br />
               <!-- Modal Trigger Button -->
               <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href="#video-modal"> Play Video</a>
               <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href="#map-modal">View Map</a>
               <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='<%= trail.info %>' target="_blank" >More Info</a>
               <% if (trail.name === "Angels Rest") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://enchanting-sunburst-8e4325.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.56239,-122.16167,197.92452351a,2321.91913803d,30y,67.48410562h,60t,0r/data=MigKJgokCiAxLW1EMS1KNHVnSnNMNWRYenhBWk9NN0pzMUdMd2lNayACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Smith Rock") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://loquacious-parfait-be5c79.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.37183288,-121.13606,841.37213871a,3272.34401385d,30y,320.38063412h,60t,0r/data=MigKJgokCiAxWWVxQUY5ZGZISFFTaG80bzRQYTFIVml1eTBGY2VvRSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Eagle Creek to Tunnel Falls Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://cute-mermaid-e88a57.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.60974999,-121.885805,259.8241825a,15178.12202595d,30y,237.6320746h,60t,0r/data=MigKJgokCiAxREJ5VEpIX0JUUnd2VUp2WmZFT0s0SGk2d2FsY1hjdyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Multnomah-Wahkeena Loop Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://spontaneous-marigold-692813.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.573075,-122.11842,323.10243899a,2342.83601311d,30y,91.99138894h,60t,0r/data=MigKJgokCiAxRGNrOWFtR3FrRG9rZU5HOXM4Z29sVnRPYm9qT1BaYyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Mirror Lake Trail") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://gleeful-custard-b20765.netlify.app' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.29972,-121.78611,1132.35360466a,2091.83196174d,35y,225.74549144h,60t,0r/data=MigKJgokCiAxQUZQbGR0aU1tU0Y5alRWLS02bGlZMzJoSXg0RlF3RSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Cape Perpetua Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://incandescent-malasada-94726c.netlify.app' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.278715,-124.11183,19.89340036a,1000d,30y,162.98271935h,60t,0r/data=MigKJgokCiAxczh1ZUhVaXFNYUFOZkE2ZWNwc2RxcGd1ZjlKWklRcyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Garfield Peak Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://stellar-melomakarona-25960e.netlify.app' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@42.9076,-122.1352435,2114.75984626a,2567.3771874d,30y,0h,0t,0r/data=MigKJgokCiAxckE5T25rOFVrcml6Q3BENGFoQWVQT2owdjJ3NmFfayACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Cascade Head Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://endearing-kitten-ab8c7a.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.0493425,-124.00001,51.78491403a,4562.46556214d,30y,0h,0t,0r/data=MigKJgokCiAxWnZzTlBIVmE2QjJVcWFsRmhnckhEa3hDb2lwN2pIWSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Cape Kiwanda") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://steady-tartufo-5ba5f5.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.21771405,-123.97412205,3.2081946a,1000d,30y,0h,0t,0r/data=MigKJgokCiAxTWlKcXNWVVliTTNkcDZaQ3BQb09YZUMtZ0sybW9uYyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Tamolitch Pool Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://gentle-jalebi-362ff3.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.3013169,-122.030735,677.66714088a,4384.68901271d,30y,0h,0t,0r/data=MigKJgokCiAxT29rMUhKRWJwRWNLQ3F6dTZ1dExwd21ER2l1bUZibyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Opal Pool-Cedar Flats Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://tranquil-seahorse-9aa0b7.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.845965,-122.231885,725.12826261a,6800.73167202d,30y,0h,0t,0r/data=MigKJgokCiAxQkxDVEZQNjF6WUdCN2c1clp0aW1wcVBnQU5HMkNpSSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Cape Falcon Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://jade-platypus-b1172b.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.762985,-123.96819,4.54809195a,2554.09513458d,30y,0h,0t,0r/data=MigKJgokCiAxT2lfeFMtc3V2TUxLRnhGQlI5QnltZEVCbks1SzlKSSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Adams Glacier Meadows Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://effulgent-kelpie-0677da.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@46.253455,-121.54839,1748.37453852a,6437.90745589d,30y,0h,0t,0r/data=MigKJgokCiAxbGVOQmp6NUk2blViMHFUdEFNN3hTT3M3cmpydlJKdyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Battle Ax Loop Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://curious-croquembouche-d1e292.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.8391665,-122.127679,1154.30637882a,7809.96144913d,30y,0h,0t,0r/data=MigKJgokCiAxSGtySTRvOEM5Z3lqZm1lYzNtRUJvVEZJQi1DcTlFYyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Belknap Crater Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://creative-frangollo-b2f08a.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.274205,-121.825995,1755.75724369a,5428.88433277d,30y,218.37846185h,60t,0r/data=MigKJgokCiAxSWlySlViTGxSbG84ZzRUN2MwNkFZdnZBMXRKQ0RUSSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Blue Basin Loop Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://velvety-dodol-38838b.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.592955,-119.62254385,726.66693673a,2003.63967793d,30y,180.78368739h,60t,0r/data=MigKJgokCiAxdTd6Q3B4QXZSZmxmOG1IX29GQUN0bDgxa1VvZmE2SSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Cached Lake Loop Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://tangerine-sunshine-c9ef35.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@44.375855,-121.772345,1451.06947101a,4719.02421661d,30y,111.44750873h,60t,0r/data=MigKJgokCiAxdGg5YTBfSDdGaGlFaGZNTUxDTllWNlYtUy1Zek9yZyACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <% if (trail.name === "Ice Lake Hike") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://silver-pixie-041142.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://earth.google.com/web/@45.249125,-117.24501,2183.25756801a,7170.52963002d,30y,189.41629259h,60t,0r/data=MigKJgokCiAxbWZGSVo1NXZONXplaHpJUjFNNWRvTTNYOWo1QzNDRSACOgMKATA' target="_blank" >2D and 3D Google Earth</a>
              <% } %>
              <%if (trail.difficulty === "Hard"){%>
                <h6 class="red-text"><span style="color: #08ff08;"><span/><%= trail.stars %><span style="color: red;"><span style="display:inline-block; width: 2%;"></span><%= trail.difficulty %><h4/>
              <%} else if (trail.difficulty === "Moderate") {%>
                <h6 class="yellow-text"><span style="color: #08ff08;"><span/><%= trail.stars %><span style="color: yellow;"><span style="display:inline-block; width: 2%;"></span><%= trail.difficulty %><h4/>
              <%} else { %>
                <h6 class="green-text text-darken-4"><span style="color: #08ff08;"><%= trail.stars %><span/><span style="color: greenyellow;"><span style="display:inline-block; width: 2%;"></span><%= trail.difficulty %><h4/>
              <%}%>
              <h6 class="white-text">Categories</h6>
              <ul class="collection">
                <% trail.categories.forEach((category, index) => { %>
                  <li class="collection-item"><%= category %></li>
                <% }); %>
              </ul>
              <br />
              <h6 class="white-text">Regulations</h6>
              <ul class="collection">
                <% trail.regulations.forEach((regulation, index) => { %>
                  <li class="collection-item"><%= regulation %></li>
                <% }); %>
              </ul>
              <h6 class="#08ff08-text">Way Points</h6>
              <ul class="collection">
                <% trail.waypoints.forEach((waypoint, index) => { %>
                  <li class="collection-item" id="waypointname"><%= waypoint.name %></li>
                  <li class="collection-item"><%= waypoint.location %></li>
                <% }); %>
              </ul>
              <br />
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="video-modal" class="modal green">
    <div class="modal-content">
      <h4 class="black-text">Video</h4>
      <iframe 
        width="100%" height="400" 
        src="<%=trail.video%>&amp;start=0" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
      </iframe>
    </div>
    <div class="modal-footer green">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat black-text">Close</a>
    </div>
  </div>

  <div id="map-modal" class="modal green">
    <div class="modal-content">
      <h4 class="black-text">Map</h4>
      <iframe 
        class="alltrails" 
        src="<%= trail.src %>" 
        width="100%" height="400" 
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        title="AllTrails: Trail Guides and Maps for Hiking, Camping, and Running">
        </iframe>
    </div>
    <div class="modal-footer green">
      <a href="#!" class="modal-close waves-effect waves-white btn-flat black-text">Close</a>
    </div>
  </div>
  <%- include('scripts.ejs')-%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems, {
        fullWidth: true,
        indicators: true
      });
      setInterval(() => {
        instances.forEach(instance => instance.next());
      }, 2500);

      var modalElems = document.querySelectorAll('.modal');
      M.Modal.init(modalElems);
    });
  </script>
</body>
