<%- include('head.ejs')-%>
<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
<style>
  body {
    background: 
      linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, black 25%, transparent 25%),
      linear-gradient(45deg, black 25%, transparent 25%);	
   background-size: 2em 2em;
   background-color: #232323;
  }
  .carousel .carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }
  .carousel.carousel-slider .carousel-item {
    height: 400px;
  }
  .card-content h6 {
    color: white;
    font-family: 'Syne Mono', monospace;
  }
  .card-content ul.collection {
    background-color: black;
    border: none;
  }
  .card-content ul.collection .collection-item {
    color: #08ff08;
    font-size: medium;
    background-color: black;
    border: none;
  }
  .modal.green .modal-content h4,
  .modal.green .modal-footer .btn-flat {
    color: white;
  }
  #waypointname {
    color: white;
    font-size: large;
  }
  .card {
    border-radius: 25px;
    overflow: hidden; 
    border-color:  #08ff08;
    box-shadow: 0 0 5px 5px #08ff08;
  }
  .card-title {
    font-family: 'Syne Mono', monospace;
  }
  #button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
</style>
<%- include('nav.ejs')-%>
<body style="background-color: #28282B;">
  <div class="container">
    <div class="section">
      <div class="row" id="contain">
        <div class="row s12 m4">
          <div class="card x-large green" id="card">
            <div class="card-image green">
              <div class="carousel carousel-slider">
                <% trail.image.forEach((img, index) => { %>
                  <a class="carousel-item">
                    <img src="<%= img %>" alt="Image <%= index + 1 %>" />
                  </a>
                <% }); %>
              </div>
              <span class="card-title"><%=trail.name%></span>
            </div>
            <div class="card-content black">
              <h6 class="white-text text-darken-4"><p><%= trail.description %></p></h6>
              <br />
               <!-- Modal Trigger Button -->
               <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href="#video-modal"> Play Video</a>
               <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href="#map-modal">View Map</a>
               <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='<%= trail.info %>' target="_blank" >More Info</a>
               <% if (trail.name === "Angels Rest") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://enchanting-sunburst-8e4325.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
              <% } %>
              <% if (trail.name === "Smith Rock") { %>
                <a class="waves-effect waves-light btn-small modal-trigger black" id="button" href='https://loquacious-parfait-be5c79.netlify.app/' target="_blank" >3D Terrain Elevation Map</a>
              <% } %>         
              <%if (trail.difficulty === "Hard"){%>
                <h6 class="red-text"><span style="color: #08ff08;"><span/><%= trail.stars %><span style="color: red;"><span style="display:inline-block; width: 2%;"></span><%= trail.difficulty %><h4/>
              <%} else if (trail.difficulty === "Moderate") {%>
                <h6 class="yellow-text"><span style="color: #08ff08;"><span/><%= trail.stars %><span style="color: yellow;"><span style="display:inline-block; width: 2%;"></span><%= trail.difficulty %><h4/>
              <%} else { %>
                <h6 class="green-text text-darken-4"><span style="color: #08ff08;"><%= trail.stars %><span/><span style="color: greenyellow;"><span style="display:inline-block; width: 2%;"></span><%= trail.difficulty %><h4/>
              <%}%>
              <h6 class="white-text">Categories</h6>
              <ul class="collection">
                <% trail.categories.forEach((category, index) => { %>
                  <li class="collection-item"><%= category %></li>
                <% }); %>
              </ul>
              <br />
              <h6 class="white-text">Regulations</h6>
              <ul class="collection">
                <% trail.regulations.forEach((regulation, index) => { %>
                  <li class="collection-item"><%= regulation %></li>
                <% }); %>
              </ul>
              <h6 class="#08ff08-text">Way Points</h6>
              <ul class="collection">
                <% trail.waypoints.forEach((waypoint, index) => { %>
                  <li class="collection-item" id="waypointname"><%= waypoint.name %></li>
                  <li class="collection-item"><%= waypoint.location %></li>
                <% }); %>
              </ul>
              <br />
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="video-modal" class="modal green">
    <div class="modal-content">
      <h4 class="black-text">Video</h4>
      <iframe 
        width="100%" height="400" 
        src="<%=trail.video%>&amp;start=0" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
      </iframe>
    </div>
    <div class="modal-footer green">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat black-text">Close</a>
    </div>
  </div>

  <div id="map-modal" class="modal green">
    <div class="modal-content">
      <h4 class="black-text">Map</h4>
      <iframe 
        class="alltrails" 
        src="<%= trail.src %>" 
        width="100%" height="400" 
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        title="AllTrails: Trail Guides and Maps for Hiking, Camping, and Running">
        </iframe>
    </div>
    <div class="modal-footer green">
      <a href="#!" class="modal-close waves-effect waves-white btn-flat black-text">Close</a>
    </div>
  </div>
  <%- include('scripts.ejs')-%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems, {
        fullWidth: true,
        indicators: true
      });
      setInterval(() => {
        instances.forEach(instance => instance.next());
      }, 2500);

      var modalElems = document.querySelectorAll('.modal');
      M.Modal.init(modalElems);
    });
  </script>
</body>
